.git
.github
.gitignore
.vscode
.vs
*.md

**/node_modules
**/bin
**/obj

Registry-Deploy
Registry.Adapters.Test/Data
Registry.Web.Test/Data
Registry.Web/uploads
Registry.Web/logs
Registry.Web/temp
Registry.Web/ddbstore
Registry.Web/*.csv
Registry.Web/App_Data

