name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
      with:
        path: registry
    - name: Submodules
      run: |
        cd registry
        git submodule update --force --recursive --init --remote
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          9.0.x
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: Download and install latest DroneDB release
      run: |
        LATEST_RELEASE_URL=$(curl -s https://api.github.com/repos/DroneDB/DroneDB/releases/latest | grep "browser_download_url.*deb" | head -n 1 | cut -d '"' -f 4)
        echo "Downloading DroneDB from $LATEST_RELEASE_URL"
        curl -L -o dronedb.deb $LATEST_RELEASE_URL
        sudo apt-get update && sudo apt-get install -y ./dronedb.deb
    - name: Build the project
      run: |
        cd registry
        dotnet build -c Release --verbosity minimal
    - name: Run tests
      run: |
        cd registry
        whereis ddb
        ddb --version --debug
        dotnet test -c Release --verbosity minimal
