name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: registry
    - name: Submodules
      run: |
        cd registry
        git submodule update --force --recursive --init --remote
    - uses: actions/checkout@v2
      with:
        repository: DroneDB/DroneDB
        submodules: "recursive"
        path: ddb
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          6.0.x
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 14
    - name: Install webpack 4
      run: npm install -g webpack@4 webpack-cli
    - name: Setup utils
      run: sudo apt-get update && sudo apt-get install -y spatialite-bin libsqlite3-mod-spatialite
    - name: Build C++ lib
      run: |
          cd ddb
          scripts/ubuntu_deps.sh
          mkdir -p build
          cd build
          cmake -DBUILD_TESTING=OFF ..
          make -j$(nproc) ddb
          sudo make -j$(nproc) install
          sudo ldconfig          
    - name: Install dependencies
      run: |
        cd registry
        export PATH="$HOME/ddb/build:$PATH"
        dotnet test -c Release --verbosity minimal
